<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web</display-name>
    
    
    <!-- We can configurate used in Java or XML file. In this Case is XML, isn´t necessary used JAVA files to configure
    , the 01 - SpringMVC-introduction was configurate in Java File-->
    
        <!-- Creation of a Servlet and mapping the location of the annotations (@Controller, @RequestMapping ...) 
         Servlet that will be process requests -->
        <servlet>
              <servlet-name>dispatcherServlet</servlet-name>
              <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
              <init-param>
                    <param-name>contextConfigLocation</param-name>
                    <param-value>/dispatcherServlet/servlet-context.xml</param-value>
              </init-param>
              <load-on-startup>1</load-on-startup>
        </servlet>
    
        <servlet-mapping>
              <servlet-name>dispatcherServlet</servlet-name>
              <url-pattern>/</url-pattern>
        </servlet-mapping>
    
  </web-app>